{% extends 'base.html'%}



{% block titulo %}
 HashFlix - Filmes 


{% endblock %}

{% block head %}
<style>
    $itemGrow: 1.2;
$duration: 250ms;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-color: #000;
}


.wrapper {

  display: grid;
  grid-template-columns: repeat(3,100%);
  overflow:hidden;
   position: relative;
  scroll-behavior: smooth;

  section {
    width: 100%;
    flex-shrink: 0;
    position: relative;
    margin: 20px 0;




    .item {

      padding: 0 2px;
      transition: $duration all;

      &:hover {
        margin: 0 40px;
        transform: scale(1.2);
      }

    }

    a {
      /* position: absolute; */
      color: #fff;
      text-decoration: none;
      font-size: 6em;
      background:rgb(0,0,0);
      text-align: center;
      z-index: 1;

    }

    &>a:first-child {
      position: absolute;
        left:0;
        background: linear-gradient(-90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      }
      &>a:last-child {
        position: absolute;
        right: 0;
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      }
  }
}

@media only screen and (max-width: 600px) {

.wrapper {
  display: block;
  overflow: hidden;
  width: 75vw;
  scroll-behavior: smooth;
}

  .wrapper section {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .wrapper section::-webkit-scrollbar {
    display: none;
  }

  .wrapper section .item {
    flex: 0 0 100%;
    max-width: 100%;
    scroll-snap-align: center;

    /* REMOVE tudo que causa corte */
    padding: 0;
    margin: 0;

    transform: none !important;
  }




  /* remove hover (mobile não usa hover) */
  .wrapper section .item:hover {
    transform: none;
    margin: 0;
  }

  /* setas fora no mobile */
  a.arrow__btn {
    display: none !important;
  }

   .mobile-unified section[id^="section2"] {
    display: none;
  }
}


</style>
{% endblock %}

{% block content %}
    <section class="w-full h-screen bg-cover  bg-no-repeat " style="background-image:url('{{filme_principal.capa.url}}')">
        <div class=" h-full flex items-end">
            <div class="ml-5 mb-5">
                <h1 class=" text-3xl md:text-6xl font-semibold">{{filme_principal.titulo}}</h1>
                <p class="font-medium my-4">{{filme_principal.descricao}}</p>


                 <a class="" href="{% url 'filme:epsodio' filme_principal.episodios.first.pk %}">
                <button class="bg-white py-2 px-12 text-black rounded-md font-medium flex items-center ">

                     <ion-icon name="play" class="text-2xl mr-1"></ion-icon>

                    Play

                </button></a>
            </div>
        </div>
    </section>






        <section class='bg-primary_black flex justify-center py-1 md:py-10'>
            <div class="p-3 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Novo
                </h2>
                <div class="wrapper mobile-unified ">
                  <section id="section1" class=" move flex flex-nowrap items-center first:pl-5 md:pr-5 justify-start space-x-8">
                    <a href="#section2" class="arrow__btn text-6xl page">‹</a>

                      {% for recente in filmes_recentes %}
                      {% if forloop.counter < 5 %}

                      <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'filme:filme_detalhe' recente.pk %}">
                            <img src="{{recente.capa.url}}" class="rounded-md w-full h-full object-cover">
                          </a>
                      </div>

                         {% endif %}
                         {% endfor %}

                        <a href="#section2" class="arrow__btn text-6xl ">›</a>
                  </section>
                       {% if filmes_recentes|length > 4 %}
                      <section id="section2" class="flex flex-nowrap items-center justify-center">
                        <a href="#section1" class="arrow__btn text-6xl">‹</a>

                       {% for recente in filmes_recentes %}
                       {% if forloop.counter > 4 %}

                      <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'filme:filme_detalhe' recente.pk %}">
                            <img src="{{recente.capa.url}}" class="rounded-md w-full h-full object-cover">
                          </a>
                      </div>

                          {% endif %}
                         {% endfor %}

                        <a href="#section1" class="arrow__btn text-6xl">›</a>
                      </section>
                    {% endif %}

                </div>


            </div>
        </section>

<section class='bg-primary_black flex justify-center py-1 md:py-10'>
            <div class="p-3 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                    Em Alta
                </h2>
                <div class="wrapper mobile-unified">
                  <section id="section1_novo" class="flex flex-nowrap items-center justify-start space-x-8 first:pl-5 md:pr-5">
                    <a href="#section2_novo" class="arrow__btn text-6xl page">‹</a>

                      {% for destaque in filmes_destaque %}
                      {% if forloop.counter < 5 %}

                      <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'filme:filme_detalhe' destaque.pk %}">
                            <img src="{{destaque.capa.url}}" class="rounded-md w-full h-full object-cover">
                          </a>
                      </div>

                         {% endif %}
                         {% endfor %}

                        <a href="#section2_novo" class="arrow__btn text-6xl">›</a>
                  </section>
                       {% if filmes_recentes|length > 4 %}
                      <section id="section2_novo" class="flex flex-nowrap items-center justify-center">
                        <a href="#section1_novo" class="arrow__btn text-6xl">‹</a>

                       {% for destaque in filmes_destaque %}
                       {% if forloop.counter > 4 %}

                      <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'filme:filme_detalhe' destaque.pk %}">
                            <img src="{{destaque.capa.url}}" class="rounded-md w-full h-full object-cover">
                          </a>
                      </div>

                          {% endif %}
                         {% endfor %}

                        <a href="#section1_novo" class="arrow__btn text-6xl">›</a>
                      </section>
                    {% endif %}

                </div>


            </div>
        </section>



<section class='bg-primary_black flex justify-center py-1 md:py-10'>
            <div class="p-3 w-10/12 relative" >
                <h2 class="text-gray-200 text-2xl font-medium">
                   Continuar Assistindo
                </h2>
                <div class="wrapper mobile-unified">
                  <section id="section1_visto" class="flex flex-nowrap items-center justify-start space-x-8 first:pl-5 md:pr-5">
                    <a href="#section2_visto" class="arrow__btn text-6xl page">‹</a>

                      {% for destaque in request.user.filme_vistos.all %}
                      {% if forloop.counter < 5 %}

                      <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'filme:filme_detalhe' destaque.pk %}">
                            <img src="{{destaque.capa.url}}" class="rounded-md w-full h-full object-cover">
                          </a>
                      </div>

                         {% endif %}
                         {% endfor %}

                        <a href="#section2_visto" class="arrow__btn text-6xl">›</a>
                  </section>
                       {% if filmes_recentes|length > 4 %}
                      <section id="section2_visto" class="flex flex-nowrap items-center justify-center">
                        <a href="#section1_visto" class="arrow__btn text-6xl">‹</a>

                       {% for destaque in request.user.filme_vistos.all %}
                       {% if forloop.counter > 4 %}

                      <div class="item h-64 w-1/4 m-4">
                          <a href="{% url 'filme:filme_detalhe' destaque.pk %}">
                            <img src="{{destaque.capa.url}}" class="rounded-md w-full h-full object-cover">
                          </a>
                      </div>

                          {% endif %}
                         {% endfor %}

                        <a href="#section1_visto" class="arrow__btn text-6xl">›</a>
                      </section>
                    {% endif %}

                </div>


            </div>
        </section>



{% endblock %}
